<div class="artist-index template">
  <p>This is <em>artists/index.hbs</em>.</p>

  <div class="biography">
    <h3>Artist Biography</h3>
    <p>Something about {{model.name}}. Lorem ipsum…</p>
  </div>

  <p>{{#link-to 'albums' class="button"}}Albums &rarr;{{/link-to}}</p>
</div>
