<div class="albums template">
  <p>This is <em>albums.hbs</em>.</p>

  <h3>Albums</h3>

  <ul class="albums">
    {{#each model as |album|}}
    <li>{{album.title}} ({{album.releaseDate}})</li>
    {{/each}}
  </ul>
</div>
