<div class="albums template">
  <p>This is <em>albums.hbs</em>.</p>

  <h3>Albums</h3>

  <ul class="albums">
    {{#each model as |album|}}
    <li>{{#link-to 'album' album}}{{album.title}} ({{album.releaseDate}}){{/link-to}}</li>
    {{/each}}
  </ul>

  {{outlet}}
</div>
