<div class="artists template">
  <p>This is <em>artists.hbs</em>.</p>

  <ul class="artists">
    {{#each model as |artist|}}
    <li>{{#link-to 'artist' artist}}{{artist.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{outlet}}
</div>
